@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wysiwyg h1 {
    @apply text-5xl leading-loose;
  }
  .wysiwyg h2 {
    @apply text-3xl leading-loose;
  }
  .wysiwyg h3 {
    @apply text-2xl leading-loose;
  }
  .wysiwyg p {
    @apply text-lg leading-snug;
  }

  .wysiwyg img {
    @apply rounded-lg;
  }

  .wysiwyg strong {
    @apply font-bold italic;
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
